/*01 Utilities*/
/*02 Global*/
/*03 Layout*/
.l-columns {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}
.l-columns--1 {
  width: calc((100% - 0px) / 1);
}

.l-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.l-columns--2 {
  width: calc((100% - 16px) / 2);
}

.l-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.l-columns--3 {
  width: calc((100% - 32px) / 3);
}

.l-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.l-columns--4 {
  width: calc((100% - 48px) / 4);
}

.l-columns {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}
.l-columns--5 {
  width: calc((100% - 64px) / 5);
}

.l-columns {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}
.l-columns--6 {
  width: calc((100% - 80px) / 6);
}

.l-columns {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 16px;
}
.l-columns--7 {
  width: calc((100% - 96px) / 7);
}

.l-columns {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 16px;
}
.l-columns--8 {
  width: calc((100% - 112px) / 8);
}

.l-columns {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 16px;
}
.l-columns--9 {
  width: calc((100% - 128px) / 9);
}

.l-columns {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 16px;
}
.l-columns--10 {
  width: calc((100% - 144px) / 10);
}

.l-columns {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 16px;
}
.l-columns--11 {
  width: calc((100% - 160px) / 11);
}

.l-columns {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
}
.l-columns--12 {
  width: calc((100% - 176px) / 12);
}

.l--flex {
  display: flex;
}
.l--flex--direction-horizontal {
  flex-direction: row;
}
.l--flex--direction-vertical {
  flex-direction: column;
}
.l--flex--justify_content-center {
  justify-content: center;
}
.l--flex--justify_content-start {
  justify-content: flex-start;
}
.l--flex--justify_content-end {
  justify-content: flex-end;
}
.l--flex--justify_content-evenly {
  justify-content: space-evenly;
}
.l--flex--justify_content-between {
  justify-content: space-between;
}
.l--flex--align_items-center {
  align-items: center;
}
.l--flex--align_items-start {
  align-items: flex-start;
}
.l--flex--align_items-end {
  align-items: flex-end;
}
.l--flex--align_items-strech {
  align-items: stretch;
}

/*04 Components*/
.c-boton--funcion-principal {
  background-color: var(--color-principal-5);
}
.c-boton--funcion-alternative {
  background-color: var(--color-alternative-5);
}
.c-boton--funcion-danger {
  background-color: var(--color-red-5);
}
.c-boton--funcion-info {
  background-color: var(--color-blue-7);
}
.c-boton--importancia-secundaria {
  color: var(--color-principal);
  background-color: var(--color-fondo);
  border: 1px solid var(--color-principal);
}
.c-boton--importancia-terciaria {
  color: var(--color-principal);
  background-color: var(--color-fondo);
  border: 0px;
}

/*05 Pages*/
/*06 Global*/
.g--border-1 {
  border-width: 1px;
}
.g--border-1__top-1 {
  border-top: 1px;
}
.g--border-1__bottom-1 {
  border-bottom: 1px;
}
.g--border-1__left-1 {
  border-left: 1px;
}
.g--border-1__right-1 {
  border-right: 1px;
}

.g--border-2 {
  border-width: 2px;
}
.g--border-2__top-2 {
  border-top: 2px;
}
.g--border-2__bottom-2 {
  border-bottom: 2px;
}
.g--border-2__left-2 {
  border-left: 2px;
}
.g--border-2__right-2 {
  border-right: 2px;
}

.g--border-4 {
  border-width: 4px;
}
.g--border-4__top-4 {
  border-top: 4px;
}
.g--border-4__bottom-4 {
  border-bottom: 4px;
}
.g--border-4__left-4 {
  border-left: 4px;
}
.g--border-4__right-4 {
  border-right: 4px;
}

.g--border-6 {
  border-width: 6px;
}
.g--border-6__top-6 {
  border-top: 6px;
}
.g--border-6__bottom-6 {
  border-bottom: 6px;
}
.g--border-6__left-6 {
  border-left: 6px;
}
.g--border-6__right-6 {
  border-right: 6px;
}

.g--border-10 {
  border-width: 10px;
}
.g--border-10__top-10 {
  border-top: 10px;
}
.g--border-10__bottom-10 {
  border-bottom: 10px;
}
.g--border-10__left-10 {
  border-left: 10px;
}
.g--border-10__right-10 {
  border-right: 10px;
}

.g--font-size-4 {
  font-size: 4px;
}

.g--font-size-8 {
  font-size: 8px;
}

.g--font-size-10 {
  font-size: 10px;
}

.g--font-size-14 {
  font-size: 14px;
}

.g--font-size-16 {
  font-size: 16px;
}

.g--font-size-20 {
  font-size: 20px;
}

.g--font-size-24 {
  font-size: 24px;
}

.g--font-size-32 {
  font-size: 32px;
}

.g--font-size-36 {
  font-size: 36px;
}

.g--font-size-48 {
  font-size: 48px;
}

.g--font-size-52 {
  font-size: 52px;
}

.g--font-size-60 {
  font-size: 60px;
}

.g--font-size-64 {
  font-size: 64px;
}

.g--font-size-93 {
  font-size: 93px;
}

.g--height-50 {
  height: 50px;
}

.g--height-100 {
  height: 100px;
}

.g--height-150 {
  height: 150px;
}

.g--height-200 {
  height: 200px;
}

.g--height-250 {
  height: 250px;
}

.g--height-300 {
  height: 300px;
}

.g--height-350 {
  height: 350px;
}

.g--height-400 {
  height: 400px;
}

.g--height-450 {
  height: 450px;
}

.g--height-500 {
  height: 500px;
}

.g--height-550 {
  height: 550px;
}

.g--height-600 {
  height: 600px;
}

.g--height-650 {
  height: 650px;
}

.g--height-700 {
  height: 700px;
}

.g--height-750 {
  height: 750px;
}

.g--height-800 {
  height: 800px;
}

.g--height-850 {
  height: 850px;
}

.g--height-900 {
  height: 900px;
}

.g--height-950 {
  height: 950px;
}

.g--height-1000 {
  height: 1000px;
}

.g--height-5pc {
  height: 5%;
}

.g--height-10pc {
  height: 10%;
}

.g--height-15pc {
  height: 15%;
}

.g--height-20pc {
  height: 20%;
}

.g--height-25pc {
  height: 25%;
}

.g--height-30pc {
  height: 30%;
}

.g--height-35pc {
  height: 35%;
}

.g--height-40pc {
  height: 40%;
}

.g--height-45pc {
  height: 45%;
}

.g--height-50pc {
  height: 50%;
}

.g--height-55pc {
  height: 55%;
}

.g--height-60pc {
  height: 60%;
}

.g--height-65pc {
  height: 65%;
}

.g--height-70pc {
  height: 70%;
}

.g--height-75pc {
  height: 75%;
}

.g--height-80pc {
  height: 80%;
}

.g--height-85pc {
  height: 85%;
}

.g--height-90pc {
  height: 90%;
}

.g--height-95pc {
  height: 95%;
}

.g--height-100pc {
  height: 100%;
}

.g--margin-2 {
  margin: 2px;
}
.g--margin-4 {
  margin: 4px;
}
.g--margin-6 {
  margin: 6px;
}
.g--margin-8 {
  margin: 8px;
}
.g--margin-10 {
  margin: 10px;
}
.g--margin-14 {
  margin: 14px;
}
.g--margin-20 {
  margin: 20px;
}
.g--margin-24 {
  margin: 24px;
}
.g--margin-36 {
  margin: 36px;
}
.g--margin-48 {
  margin: 48px;
}
.g--margin-top-2 {
  margin-top: 2px;
}
.g--margin--bottom-2 {
  margin-bottom: 2px;
}
.g--margin-right-2 {
  margin-right: 2px;
}
.g--margin-left-2 {
  margin-left: 2px;
}
.g--margin-horizontal-2 {
  margin-right: 2px;
  margin-left: 2px;
}
.g--margin-vertical-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}
.g--margin-top-4 {
  margin-top: 4px;
}
.g--margin--bottom-4 {
  margin-bottom: 4px;
}
.g--margin-right-4 {
  margin-right: 4px;
}
.g--margin-left-4 {
  margin-left: 4px;
}
.g--margin-horizontal-4 {
  margin-right: 4px;
  margin-left: 4px;
}
.g--margin-vertical-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.g--margin-top-6 {
  margin-top: 6px;
}
.g--margin--bottom-6 {
  margin-bottom: 6px;
}
.g--margin-right-6 {
  margin-right: 6px;
}
.g--margin-left-6 {
  margin-left: 6px;
}
.g--margin-horizontal-6 {
  margin-right: 6px;
  margin-left: 6px;
}
.g--margin-vertical-6 {
  margin-top: 6px;
  margin-bottom: 6px;
}
.g--margin-top-8 {
  margin-top: 8px;
}
.g--margin--bottom-8 {
  margin-bottom: 8px;
}
.g--margin-right-8 {
  margin-right: 8px;
}
.g--margin-left-8 {
  margin-left: 8px;
}
.g--margin-horizontal-8 {
  margin-right: 8px;
  margin-left: 8px;
}
.g--margin-vertical-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.g--margin-top-10 {
  margin-top: 10px;
}
.g--margin--bottom-10 {
  margin-bottom: 10px;
}
.g--margin-right-10 {
  margin-right: 10px;
}
.g--margin-left-10 {
  margin-left: 10px;
}
.g--margin-horizontal-10 {
  margin-right: 10px;
  margin-left: 10px;
}
.g--margin-vertical-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.g--margin-top-14 {
  margin-top: 14px;
}
.g--margin--bottom-14 {
  margin-bottom: 14px;
}
.g--margin-right-14 {
  margin-right: 14px;
}
.g--margin-left-14 {
  margin-left: 14px;
}
.g--margin-horizontal-14 {
  margin-right: 14px;
  margin-left: 14px;
}
.g--margin-vertical-14 {
  margin-top: 14px;
  margin-bottom: 14px;
}
.g--margin-top-20 {
  margin-top: 20px;
}
.g--margin--bottom-20 {
  margin-bottom: 20px;
}
.g--margin-right-20 {
  margin-right: 20px;
}
.g--margin-left-20 {
  margin-left: 20px;
}
.g--margin-horizontal-20 {
  margin-right: 20px;
  margin-left: 20px;
}
.g--margin-vertical-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.g--margin-top-24 {
  margin-top: 24px;
}
.g--margin--bottom-24 {
  margin-bottom: 24px;
}
.g--margin-right-24 {
  margin-right: 24px;
}
.g--margin-left-24 {
  margin-left: 24px;
}
.g--margin-horizontal-24 {
  margin-right: 24px;
  margin-left: 24px;
}
.g--margin-vertical-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.g--margin-top-36 {
  margin-top: 36px;
}
.g--margin--bottom-36 {
  margin-bottom: 36px;
}
.g--margin-right-36 {
  margin-right: 36px;
}
.g--margin-left-36 {
  margin-left: 36px;
}
.g--margin-horizontal-36 {
  margin-right: 36px;
  margin-left: 36px;
}
.g--margin-vertical-36 {
  margin-top: 36px;
  margin-bottom: 36px;
}
.g--margin-top-48 {
  margin-top: 48px;
}
.g--margin--bottom-48 {
  margin-bottom: 48px;
}
.g--margin-right-48 {
  margin-right: 48px;
}
.g--margin-left-48 {
  margin-left: 48px;
}
.g--margin-horizontal-48 {
  margin-right: 48px;
  margin-left: 48px;
}
.g--margin-vertical-48 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.g--padding-2 {
  padding: 2px;
}
.g--padding-4 {
  padding: 4px;
}
.g--padding-6 {
  padding: 6px;
}
.g--padding-8 {
  padding: 8px;
}
.g--padding-10 {
  padding: 10px;
}
.g--padding-14 {
  padding: 14px;
}
.g--padding-20 {
  padding: 20px;
}
.g--padding-24 {
  padding: 24px;
}
.g--padding-36 {
  padding: 36px;
}
.g--padding-top-2 {
  padding-top: 2px;
}
.g--padding--bottom-2 {
  padding-bottom: 2px;
}
.g--padding-right-2 {
  padding-right: 2px;
}
.g--padding-left-2 {
  padding-left: 2px;
}
.g--padding-horizontal-2 {
  padding-right: 2px;
  padding-left: 2px;
}
.g--padding-vertical-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}
.g--padding-top-4 {
  padding-top: 4px;
}
.g--padding--bottom-4 {
  padding-bottom: 4px;
}
.g--padding-right-4 {
  padding-right: 4px;
}
.g--padding-left-4 {
  padding-left: 4px;
}
.g--padding-horizontal-4 {
  padding-right: 4px;
  padding-left: 4px;
}
.g--padding-vertical-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.g--padding-top-6 {
  padding-top: 6px;
}
.g--padding--bottom-6 {
  padding-bottom: 6px;
}
.g--padding-right-6 {
  padding-right: 6px;
}
.g--padding-left-6 {
  padding-left: 6px;
}
.g--padding-horizontal-6 {
  padding-right: 6px;
  padding-left: 6px;
}
.g--padding-vertical-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}
.g--padding-top-8 {
  padding-top: 8px;
}
.g--padding--bottom-8 {
  padding-bottom: 8px;
}
.g--padding-right-8 {
  padding-right: 8px;
}
.g--padding-left-8 {
  padding-left: 8px;
}
.g--padding-horizontal-8 {
  padding-right: 8px;
  padding-left: 8px;
}
.g--padding-vertical-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.g--padding-top-10 {
  padding-top: 10px;
}
.g--padding--bottom-10 {
  padding-bottom: 10px;
}
.g--padding-right-10 {
  padding-right: 10px;
}
.g--padding-left-10 {
  padding-left: 10px;
}
.g--padding-horizontal-10 {
  padding-right: 10px;
  padding-left: 10px;
}
.g--padding-vertical-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.g--padding-top-14 {
  padding-top: 14px;
}
.g--padding--bottom-14 {
  padding-bottom: 14px;
}
.g--padding-right-14 {
  padding-right: 14px;
}
.g--padding-left-14 {
  padding-left: 14px;
}
.g--padding-horizontal-14 {
  padding-right: 14px;
  padding-left: 14px;
}
.g--padding-vertical-14 {
  padding-top: 14px;
  padding-bottom: 14px;
}
.g--padding-top-20 {
  padding-top: 20px;
}
.g--padding--bottom-20 {
  padding-bottom: 20px;
}
.g--padding-right-20 {
  padding-right: 20px;
}
.g--padding-left-20 {
  padding-left: 20px;
}
.g--padding-horizontal-20 {
  padding-right: 20px;
  padding-left: 20px;
}
.g--padding-vertical-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.g--padding-top-24 {
  padding-top: 24px;
}
.g--padding--bottom-24 {
  padding-bottom: 24px;
}
.g--padding-right-24 {
  padding-right: 24px;
}
.g--padding-left-24 {
  padding-left: 24px;
}
.g--padding-horizontal-24 {
  padding-right: 24px;
  padding-left: 24px;
}
.g--padding-vertical-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.g--padding-top-36 {
  padding-top: 36px;
}
.g--padding--bottom-36 {
  padding-bottom: 36px;
}
.g--padding-right-36 {
  padding-right: 36px;
}
.g--padding-left-36 {
  padding-left: 36px;
}
.g--padding-horizontal-36 {
  padding-right: 36px;
  padding-left: 36px;
}
.g--padding-vertical-36 {
  padding-top: 36px;
  padding-bottom: 36px;
}

.g--shadow-box-0 {
  box-shadow: none;
}
.g--shadow-text-0 {
  text-shadow: none;
}
.g--shadow-box-1 {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}
.g--shadow-text-1 {
  text-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}
.g--shadow-box-2 {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.g--shadow-text-2 {
  text-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.g--shadow-box-3 {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.g--shadow-text-3 {
  text-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.g--shadow-box-4 {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.g--shadow-text-4 {
  text-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.g--shadow-box-5 {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.g--shadow-text-5 {
  text-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.g--shadow-box-6 {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.g--shadow-text-6 {
  text-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.g--shadow-box-7 {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.g--shadow-text-7 {
  text-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.g--shadow-box-inset {
  box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
}
.g--shadow-text-inset {
  text-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
}

.g--wodth-50 {
  width: 50px;
}

.g--wodth-100 {
  width: 100px;
}

.g--wodth-150 {
  width: 150px;
}

.g--wodth-200 {
  width: 200px;
}

.g--wodth-250 {
  width: 250px;
}

.g--wodth-300 {
  width: 300px;
}

.g--wodth-350 {
  width: 350px;
}

.g--wodth-400 {
  width: 400px;
}

.g--wodth-450 {
  width: 450px;
}

.g--wodth-500 {
  width: 500px;
}

.g--wodth-550 {
  width: 550px;
}

.g--wodth-600 {
  width: 600px;
}

.g--wodth-650 {
  width: 650px;
}

.g--wodth-700 {
  width: 700px;
}

.g--wodth-750 {
  width: 750px;
}

.g--wodth-800 {
  width: 800px;
}

.g--wodth-850 {
  width: 850px;
}

.g--wodth-900 {
  width: 900px;
}

.g--wodth-950 {
  width: 950px;
}

.g--wodth-1000 {
  width: 1000px;
}

.g--wodth-5pc {
  width: 5%;
}

.g--wodth-10pc {
  width: 10%;
}

.g--wodth-15pc {
  width: 15%;
}

.g--wodth-20pc {
  width: 20%;
}

.g--wodth-25pc {
  width: 25%;
}

.g--wodth-30pc {
  width: 30%;
}

.g--wodth-35pc {
  width: 35%;
}

.g--wodth-40pc {
  width: 40%;
}

.g--wodth-45pc {
  width: 45%;
}

.g--wodth-50pc {
  width: 50%;
}

.g--wodth-55pc {
  width: 55%;
}

.g--wodth-60pc {
  width: 60%;
}

.g--wodth-65pc {
  width: 65%;
}

.g--wodth-70pc {
  width: 70%;
}

.g--wodth-75pc {
  width: 75%;
}

.g--wodth-80pc {
  width: 80%;
}

.g--wodth-85pc {
  width: 85%;
}

.g--wodth-90pc {
  width: 90%;
}

.g--wodth-95pc {
  width: 95%;
}

.g--wodth-100pc {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
