@mixin box-shadow($name) {
    -webkit-box-shadow: 2px 10px 24px $name;
    -moz-box-shadow: 2px 10px 24px $name;
    box-shadow: 2px 10px 24px $name;
}

@mixin padding($name){
    padding-top: $name;
    padding-bottom: $name;
    padding-left: $name;
    padding-right: $name;
}
/*border tamaño, style, color */
/*
@mixin border($size,$border-style,$colors){
    border-style: $border-style;
    border-width:$size;
    border-color: $colors;
}
@mixin font($colors,$font-size,$fonts,$text-aling,$text-decoration){
    color:$color;
    font-size: $font-size;
    font-family: $fonts;
    text-align: $text-aling;
    text-decoration: $text-decoration;
}*/