$padding: (
    "2": 2px,
    "4": 4px,
    "6": 6px,
    "8": 8px,
    "10": 10px,
    "14": 14px,
    "20": 20px,
    "24": 24px,
    "36": 36px,
    "48": 48px,
    "54": 54px,
    "60": 60px
);

$margin: (
    "2": 2px,
    "4": 4px,
    "6": 6px,
    "8": 8px,
    "10": 10px,
    "14": 14px,
    "20": 20px,
    "24": 24px,
    "36": 36px,
    "48": 48px
);

$font-size: (
    "xs": "10px",
    "s":"14px",
    "sm":"16px",
    "m": "20px",
    "l": "24px",
    "xl": "32px",
    "xxl": "42px",
    "xxxl": "48px"
);

$height: (
    "50": 50px,
    "100": 100px,
    "150": 150px,
    "200": 200px,
    "250": 250px,
    "300": 300px,
    "350": 350px,
    "400": 400px,
    "450": 450px,
    "500": 500px,
    "550": 550px,
    "600": 600px,
    "650": 650px,
    "700": 700px,
    "750": 750px,
    "800": 800px,
    "850": 850px,
    "900": 900px,
    "950": 950px,
    "1000": 1000px,

    // Valores en porcentajes de 5 en 5
    "5pc": 5%,
    "10pc": 10%,
    "15pc": 15%,
    "20pc": 20%,
    "25pc": 25%,
    "30pc": 30%,
    "35pc": 35%,
    "40pc": 40%,
    "45pc": 45%,
    "50pc": 50%,
    "55pc": 55%,
    "60pc": 60%,
    "65pc": 65%,
    "70pc": 70%,
    "75pc": 75%,
    "80pc": 80%,
    "85pc": 85%,
    "90pc": 90%,
    "95pc": 95%,
    "100pc": 100%
);

$width: (
    // Valores en píxeles de 50 en 50
    "10": 10px,
    "20": 20px,
    "30": 30px,
    "40": 40px,
    "50": 50px,
    "100": 100px,
    "150": 150px,
    "200": 200px,
    "250": 250px,
    "300": 300px,
    "350": 350px,
    "400": 400px,
    "450": 450px,
    "500": 500px,
    "550": 550px,
    "600": 600px,
    "650": 650px,
    "700": 700px,
    "750": 750px,
    "800": 800px,
    "850": 850px,
    "900": 900px,
    "950": 950px,
    "1000": 1000px,

    // Valores en porcentajes de 5 en 5
    "5pc": 5%,
    "10pc": 10%,
    "15pc": 15%,
    "20pc": 20%,
    "25pc": 25%,
    "30pc": 30%,
    "35pc": 35%,
    "40pc": 40%,
    "45pc": 45%,
    "50pc": 50%,
    "55pc": 55%,
    "60pc": 60%,
    "65pc": 65%,
    "70pc": 70%,
    "75pc": 75%,
    "80pc": 80%,
    "85pc": 85%,
    "90pc": 90%,
    "95pc": 95%,
    "100pc": 100%
);

$border: (
    "1": 1px,
    "2": 2px,
    "4": 4px,
    "6": 6px,
    "10": 10px
);

$shadow: (
    "0": unquote("none"),
    "1": unquote("0 0 0 1px rgba(0, 0, 0, 0.05)"),
    "2": unquote("0 1px 2px 0 rgba(0, 0, 0, 0.05)"),
    "3": unquote("0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)"),
    "4": unquote("0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)"),
    "5": unquote("0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)"),
    "6": unquote("0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04)"),
    "7": unquote("0 25px 50px -12px rgba(0, 0, 0, 0.25)"),
    "inset": unquote("inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692)")
);

$colors: (
    "principal": (#7c2d12, #9a3412, #c2410c, #ea580c, #f97316, #fb923c, #fdba74, #fed7aa, #ffedd5),
    "alternative":(#312e81, #3730a3, #4338ca, #4f46e5, #6366f1, #818cf8, #a5b4fc, #c7d2fe, #e0e7ff),
    "red":(#811D1D, #981B1B, #BA1C1C, #DC2828, #EF4343, #F87272, #FCA6A6, #FEC8C8, #FEE1E1),
    "blue":(#1E3B8A, #1E3FAE, #1D4FD7, #2463EB, #3C83F6, #61A6FA, #91C3FD, #BEDBFE, #DCEBFE),
    "green":(#064C39, #066046, #047756, #059467, #10B77F, #36D399, #6EE7B7, #A5F3CF, #D1FAE5),
    "yellow":(#76350F, #91400D, #B35309, #DB7706, #F59F0A, #FBBD23, #FCD44F, #FDE68B, #FEF3C8),
    "purple":(#4D1D95, #5A21B5, #6B26D9, #7C3BED, #895AF6, #A689FA, #C3B4FD, #DED7FE, #EBE7FE),
    "pink":(#811842, #9B174C, #BF185D, #DB2979, #EC4699, #F471B5, #F9A9D5, #FBD0E8, #FCE8F4),
    "grey":(#111827, #1f2937, #374151, #4b5563, #6b7280, #9ca3af, #d1d5db, #e5e7eb, #f3f4f6, )
);

$fonts: (
    "arial" : "'Arial, sans-serif'",
    "verdana" : "'Verdana, sans-serif'",
    "tahoma" : "'Tahoma, sans-serif'",
    "trebuchet" : "'Trebuchet MS, sans-serif'",
    "timesNewRoman" : "'Times New Roman, serif'",
    "georgia" : "'Georgia, serif'",
    "garamond" : "'Garamond, serif'",
    "courier" : "'Courier New, monospace'",
    "brushScript" : "'Brush Script MT, cursive'"
);

$border-style: (
    "dotted",
    "dashed",
    "solid",
    "double",
    "none",
    "hidden"
);

$border-radius: (
    "0" : "0px",
    "1" : "5px",
    "2" : "8px",
    "3" : "12px"
);

$text-align: (
    "left": "left",
    "center": "center",
    "right": "right"
);
$text-decoration: (
    "none": "none",
    "crossed": "line-through"
);
$background: (
    "none": "none"
);
$position: (
    "absolute": "absolute",
    "relative": "relative"
);
$position-move: (
    10: 10px,
    20: 20px,
    30: 30px,
    40: 40px,
    50: 50px,
    60: 60px,
    70: 70px,
    80: 80px,
    90: 90px,
    100: 100px,
    200: 200px,
    300: 300px,
    400: 400px
);