@each $key,$value in $border {
    .g--border-#{$key}{
        border-width: var(--border-width-#{$value});
    
        &-top-#{$key}{
            border-top-width: var(--border-top-width-#{$value});
        }
        &-bottom-#{$key}{
            border-bottom-width: var(--border-bottom-width-#{$value});
        }
        &-left-#{$key}{
            border-left-width: var(--border-left-width-#{$value});
        }
        &-right-#{$key}{
            border-right-width: var(--border-right-width-#{$value});
        }
    }
    
}