.g--border{

// BORDER WIDTH

@each $key,$value in $border {
    &-#{$key}{
        border-width: var(--border-width-#{$value});
    
        &-top-#{$key}{
            border-top-width: var(--border-top-width-#{$value});
        }
        &-bottom-#{$key}{
            border-bottom-width: var(--border-bottom-width-#{$value});
        }
        &-left-#{$key}{
            border-left-width: var(--border-left-width-#{$value});
        }
        &-right-#{$key}{
            border-right-width: var(--border-right-width-#{$value});
        }
    }
    
}


// BORDER STYLE

@each $key in $border-style {
    &--style-#{$key} {
        border-style: var(--border-style-#{$key});
    }
    &-top--style-#{$key} {
        border-top-style: var(--border-style-#{$key});
    }
    &-bottom--style-#{$key} {
        border-bottom-style: var(--border-style-#{$key});
    }
    &-left--style-#{$key} {
        border-left-style: var(--border-style-#{$key});
    }
    &-right--style-#{$key} {
        border-right-style: var(--border-style-#{$key});
    }

}

// BORDER COLOR

@each $name,$values in $colors {
    $counter: 1;
    @each $color in $values {
        &--color-#{$name}-#{$counter}{
            border-color: var(--color-#{$name}-#{$counter});
        }
        &-top--color-#{$name}-#{$counter}{
            border-top-color: var(--color-#{$name}-#{$counter});
        }
        &-bottom--color-#{$name}-#{$counter}{
            border-bottom-color: var(--color-#{$name}-#{$counter});
        }
        &-left--color-#{$name}-#{$counter}{
            border-left-color: var(--color-#{$name}-#{$counter});
        }
        &-right--color-#{$name}-#{$counter}{
            border-right-color: var(--color-#{$name}-#{$counter});
        }
        $counter: $counter + 1;
      }
      
}


// BORDER RADIUS

@each $key,$value in $border-radius {
    &--radius-#{$key}{
        border-radius: var(--border-radius-#{$key});
    }
}

}