@for $i from 1 through 12 {
    .l-columns {
        display: grid;
        grid-template-columns: repeat($i, 1fr);
        gap: 16px;

        &--#{$i} {
            width: calc((100% - 16px * ($i - 1)) / $i);
        }
    }
}