.l-flex{
    display: flex;
    &--direction{
        &-horizontal{
            flex-direction: row;
        }
        &-vertical{
            flex-direction: column;
        }
    }
    &--justify_content{
        &-center{
            justify-content: center;
        }
        &-start{
            justify-content: flex-start;
        }
        &-end{
            justify-content: flex-end;
        }
        &-evenly{
            justify-content: space-evenly;
        }
        &-between{
            justify-content: space-between;
        }
    }
    &--align_items{
        &-center{
            align-items: center;
        }
        &-start{
            align-items: flex-start;
        }
        &-end{
            align-items: flex-end;
        }
        &-strech{
            align-items: stretch;
        }
    }
    &__area{
        flex-grow: 0;
        @for $i from 1 through 12 {
            &--grow-#{$i}{
                flex-grow: $i;
            }
        }
    }
}